{% extends "hub/layout.html" %}

{% load static %}

{% block main %}
    <style>
        .plot {
//            max-width: 30vw;
        }
    </style>
    <div class="w3-margin container-fluid">
        <h2>{{ author }}</h2>
        <div class="row">
            <div class="col-12 p-1" style="text-align: center;">
                {% for fn in plots %}
                    <img src="{{ fn.1 }}" class="plot w3-image w3-center">
                {% endfor %}
            </div>
        </div>
        {% for item in distances %}
            <p class="mt-3 mb-0{% if item.author == nearest %} w3-text-red{% endif %}"><b>{{ item.author }} {{ item.percent|floatformat:0 }}%</b></p>
            {% for dist in item.distances %}
                <span class="ml-4">{{ dist.param }} : {{ dist.distance|floatformat:2 }}, {{ dist.percent|floatformat:0 }}%</span>
            {% endfor %}
        {% endfor %}

        <h3>Наиболее близкий Вам по стилю автор {{ nearest }}</h3>

        <details>
            <summary>TEXT</summary>
            {{ text }}
        </details>
        <details>
            <summary>TOKENS</summary>
            {{ tokens }}
        </details>
        <details>
            <summary>TOP MOST COMMON</summary>
            {{ most_common }}
        </details>
    </div>
{% endblock %}