{% extends "hub/layout.html" %}

{% load static %}

{% block main %}
    <style>
        .plot {
            max-width: 500px;
        }
        .bigplot {
            max-width: 100%;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            button = document.querySelector('#continue');
            if (button != null) {
                button.click();
            }
        });
    </script>

    <div class="w3-margin container-fluid">
        <h2>{{ writing.author }}, {{ writing }}</h2>
        {% if continue %}
            <a  id='continue' href="{% url 'pushkin:writing_detail' writing.id %}" style="display:none">CONTINUE</a><br>
            <h2 class="w3-margin">Сравниваем с другими произведениями, пожалуйста подождите.</h2>
        {% else %}

            {% for label in vector %}
                <p class="mt-3 mb-0{% if label.name == nearest.label %} w3-text-red{% endif %}"><b>{{ label.name }} {{ label.percent|floatformat:0 }}%</b></p>
                {% for item in label.data %}
                    <span class="ml-4">{{ item.param }} : {{ item.d_value|floatformat:2 }}, {{ item.i_value|floatformat:2 }}</span>
                {% endfor %}
            {% endfor %}

            <h3>Наиболее близкое по стилю произведение : <span class="w3-text-red">{{ nearest.author }}, {{ nearest }}</span></h3>

            <details>
                <summary>Графики статистики текста</summary>
                <div style="text-align: center;">
                    {% for fn in plots %}
                        <img src="{{ fn.1 }}" class="plot w3-image w3-center">
                    {% endfor %}
                </div>
            </details>
            {% for histogram in histograms %}
                <details>
                    <summary>Гистограмма совпадения стиля</summary>
                    <div style="text-align: center;">
                        <img src="{{ histogram }}" class="bigplot w3-image w3-center">
                    </div>
                </details>
            {% endfor %}
            <details>
                <summary>TEXT</summary>
                {{ text }}
            </details>
            <details>
                <summary>TOKENS</summary>
                {{ tokens }}
            </details>
            <details>
                <summary>TOP MOST COMMON</summary>
                {{ most_common }}
            </details>
        {% endif %}
    </div>
{% endblock %}